# Use pnpm for better performance
auto-install-peers=true
dedupe-peer-dependents=true
enable-pre-post-scripts=true
fund=false
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*typescript*
node-linker=isolated
prefer-workspace-packages=true
resolution-mode=highest
save-exact=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
